<table class="table table-bordered">
	<thead>
		<tr class="active">
			<td>
				Title
				<a href="" ng-click="predicate = 'title'; reverse=!reverse">
					<span class="glyphicon glyphicon-sort"></span>
				</a>
			</td>
			<td>
				Description
				<a href="" ng-click="predicate = 'description'; reverse=!reverse">
					<span class="glyphicon glyphicon-sort"></span>
				</a>
			</td>
			<td>
				Location
				<a href="" ng-click="predicate = 'location'; reverse=!reverse">
					<span class="glyphicon glyphicon-sort"></span>
				</a>
			</td>
			<td>
				Posted on
				<a href="" ng-click="predicate = 'postedOn'; reverse=!reverse; postedOn.arrow = !postedOn.arrow">
					<span class="glyphicon glyphicon-sort"></span>
				</a>
			</td>
			<td>
				Options
			</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="job in jobList | orderBy:predicate:reverse">
			<td>
				<span ng-show="!job.editMode">{{job.title}}</span>
				<input ng-show="job.editMode" ng-model="job.title" placeholder="job.title"/>
			</td>
			<td>
				<span ng-show="!job.editMode">{{job.description}}</span>
				<input ng-show="job.editMode" ng-model="job.description" placeholder="job.description"/>
			</td>
			<td>
				<span ng-show="!job.editMode">{{job.location}}</span>
				<input ng-show="job.editMode" ng-model="job.location" placeholder="job.location"/>
			</td>
			<td>
				<span>{{job.postedOn | date:'medium'}}</span>
			</td>
			<td>
				<button class="btn btn-danger" ng-click="deleteJob(job)">Delete</button>
				<button class="btn btn-warning" ng-click="job.editMode = !job.editMode" ng-show="!job.editMode">Edit</button>
				<button class="btn btn-success" ng-click="job.editMode = !job.editMode;updateJob(job)" ng-show="job.editMode">Save</button>
			</td>
		</tr>
	</tboby>
</table>
<input type="text" ng-model="job.title" placeholder="Title">
<input type="text" ng-model="job.description" placeholder="Description">
<input type="text" ng-model="job.location" placeholder="Location">

<button class="btn btn-primary" ng-click="addJob(job)">Add new job</button>
